table
{
    border-collapse: collapse;
    width: 200px;
}
th,td
{
    border:1px solid black;
    padding: 3px 0px 3px 20px;
    text-align: center;
}
thead
{
    background-color: red;
    color:white;
}
tfoot
{
    background-color: silver;
    color:red;
}